.navbar {
    margin-bottom: 50px;
    border-radius: 0;
    
    }

.navbar-nav li:hover{
    border-left: 1px solid black;
    border-right: 1px solid black;
}   
.navbar-nav li a:hover, .navbar-nav li.active a{
    background-color: dodgerblue !important;
    transition: 0.6s;
}
 footer {
    background-color:black;
    color: aliceblue; 
    }


div.panel{
    text-align: center;
    
}

div.panel-body{
    padding: 0px;  
}

div.panel-footer{
    background-color: black;
    border-top: 1px solid black;
}

input[type=date] {
    width:50%;
    font-size: 25px;
    text-transform:uppercase;
    border-style:groove;
    border-color:deepskyblue;
    margin-bottom: 3px;    
}

input[type=submit] {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color:deepskyblue;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px grey;
}

input[type=submit]:hover {
    background-color: dodgerblue;
}

input[type=submit]:active {
  background-color: dodgerblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
